<div class = "gifall">

<%= link_to image_tag(gif.image_url), gif_path(gif.id) %><br><br>

GifMe made by <%= link_to "#{User.find(gif.user_id).username}", user_path(gif.user_id) %>  
<br><br>
Created on <%= gif.created_at.localtime.strftime("%I:%M%p on %m/%d/%Y") %>
<br><br>

Tags:
<% gif.tags.each do |tag| %><br>
		<%=link_to tag.name, tag_path(tag.id)%><br>
		<% if  @show_delete_tag_buttons && @user.id == session[:current_user_id] %>
			<%= button_to "Delete Tag", tag_path(tag.id), method: :delete%>
		<% end %>
<% end %>
</div>