<section id="gifsindex">
	<div id="divsection">
		<h1> All Gifs </h1>

	<div id="indexsinglegif">
		<img src="data:image/gif;base64,<%= Base64.encode64(@gif) %>" width="300px" height="200px">
	</div>

	<div id="indexsinglegif">
		<img src="data:image/gif;base64,<%= Base64.encode64(@gif) %>" width="300px" height="200px">
	</div>

	<div id="indexsinglegif">
		<img src="data:image/gif;base64,<%= Base64.encode64(@gif) %>" width="300px" height="200px">
	</div>

	<div id="indexsinglegif">
		<img src="data:image/gif;base64,<%= Base64.encode64(@gif) %>" width="300px" height="200px">
	</div>

	<div id="indexsinglegif">
		<img src="data:image/gif;base64,<%= Base64.encode64(@gif) %>" width="300px" height="200px">
	</div>

	<div id="indexsinglegif">
		<img src="data:image/gif;base64,<%= Base64.encode64(@gif) %>" width="300px" height="200px">
	</div>
</div>


</section>

  