<div class="useridpage">
	<div id="ueditinfo">
	<%= render partial: "gif", locals: {gif: @gif} %> 
	</div>
	<h3>COMMENTS</h3>
	<div>
		<% @gif.comments.order(created_at: :desc).each do |comment| %>
		<br><%= comment.comment %>
		<%= link_to User.find(comment.user_id).username, user_path(comment.user_id) %>  || <%= comment.created_at.localtime.strftime("%I:%M%p on %m/%d/%Y") %><br> <% if comment.user_id == session[:current_user_id] %> <%= button_to "Delete Comment", remove_comment_gif_path(comment.id), method: :delete %> <% end %>
		---------------------------------------------------------
		<% end %>
	</div>
</div>
<center>
	<h1>Add A New Tag</h1><br>
	<%= form_tag(add_tag_gif_path) do %> <%= text_field_tag :tag %>    <%= submit_tag "Add Tag" %> <% end %> </center><br>

<center>
	<h1>Add A New Comment</h1><br>
	<%= form_tag(add_comment_gif_path) do%>
	<%= text_area_tag :comment %>
	<%= submit_tag "Add Comment" %>
	<% end %>
</center>

<center>
	<iframe src="//www.facebook.com/plugins/like.php?href=<%=@gif.image_url%>&amp;width&amp;layout=standard&amp;action=like&amp;show_faces=true&amp;share=true&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:80px;" allowTransparency="true"></iframe>
</center>
