<section class="page">
	
	<div id="userform">

		<% @user.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
		<% end %>

		<h1>Welcome to Gif.me! Sign up to play with personal gifs!</h1>
		<br>

		<%= form_for @user do |f| %>
		<%= render partial: "form", locals: {f: f} %>

		<%= f.label :password %><br>
		<%= f.password_field :password %><br>

		<%= f.label :password_confirmation %><br>
		<%= f.password_field :password_confirmation %><br>

		<br>	
		<%= f.submit "Join GifMe" %><br>
		<% end %>
	</div>

</section>

