<section class="page">
	<div id="userinfo">
		<div id="uinfoname">
			<br>
			<h2><%= @user.username %></h2>
			<br>
		</div>
		
		<div id="uinfophoto">
			<img src=" <%= ProfilePicture.find(@user.profile_picture_id).image_url %> " style="height: 300px; border-radius: 50%;"/>
		</div>
		<br>
		<div id="uinfobio">
			<h2><%= @user.bio %></h2>
		</div>
		<br>
		<div id="uinfoedit">
			<% if @user.id == session[:current_user_id]%>
			<%= link_to "Edit Your Info", edit_user_path %>
			<% end %>
			
			<% if @user.id == session[:current_user_id]%>
			<%= link_to "Delete My Account", user_path, method: :delete %>
			<% end %>
		</div>
		<br>
	</div>
	<div id="showgif">
		<h2>Your Gifs</h2>
		<% @user.gifs.order(created_at: :desc).each do |gif| %>
		<div>
		<br>
			<%= render partial: "gifs/gif", locals: {gif: gif} %>
			<% if @user.id == session[:current_user_id] %> <%= button_to "Delete Gif", gif_path(gif.id), method: :delete%>
	    <% end %>
		</div>
		<p> ----------------------- </p>
		<% end %>

	</div>
	<div>
		<%= link_to image_tag("http://i.imgur.com/cwRoKkc.png"), new_gif_path %>
	</div>
</section>